################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/Rsa.Models/bin/Release/netstandard2.0
/Code/Rsa.Models/obj/Release/netstandard2.0
/Code/Rsa.Services/Rsa.Services/obj/Release/netcoreapp3.1
/Code/Rsa.WebApi/bin/Release/netcoreapp3.1
/Code/Rsa.WebApi/obj/Release/netcoreapp3.1
/Code/Rsa.WebApi/Properties/PublishProfiles
/Code/Rsa.DataBase/bin/Debug/Rsa.DataBase*
/Code/Rsa.DataBase/bin/Debug/DeploymentReport*
/Code/Rsa.Common/bin/Debug/netstandard2.0
/Code/Rsa.Common/obj
/Code/DocumentGenerate/bin/Debug
/Code/DocumentGenerate/obj/Debug
/Code/Rsa.Models/bin/Debug/netstandard2.0
/Code/Rsa.Models/obj/Debug/netstandard2.0
/Code/Rsa.Models/obj
/Code/Rsa.Services/Rsa.Services/bin/Debug/netcoreapp3.1
/Code/Rsa.Services/Rsa.Services/obj/Debug/netcoreapp3.1
/Code/Rsa.Services/Rsa.Services/obj
/Code/Rsa.WebApi/bin/Debug/netcoreapp3.1
/Code/Rsa.WebApi/obj/Debug/netcoreapp3.1
/Code/Rsa.WebApi/obj
/Code/Rsa.DataBase/obj/Debug
/Code/.vs/Rsa.WebApi/config/applicationhost.config
/Code/DocumentGenerate/obj/Release
/Code/Rsa.Common/bin/Release/netstandard2.0
/Code/Rsa.Services/Rsa.Services/bin/Release/netcoreapp3.1
/Code/Rsa.DataBase/Rsa.DataBase.dbmdl
/Code/Rsa.DataBase/Rsa.DataBase.jfm
